{% extends 'trip_plan/base.html' %}
{% load static %}
{% block content %}

<div class="second-page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Book Prefered Deal Here</h4>
        <h2>Make Your Reservation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>
        <div class="main-button"><a href="about.html">Discover More</a></div>
      </div>
    </div>
  </div>
</div>

<div class="more-info reservation-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="info-item">
          <i class="fa fa-phone"></i>
          <h4>Make a Phone Call</h4>
          <a href="#">+123 456 789 (0)</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-item">
          <i class="fa fa-envelope"></i>
          <h4>Contact Us via Email</h4>
          <a href="#">company@email.com</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-item">
          <i class="fa fa-map-marker"></i>
          <h4>Visit Our Offices</h4>
          <a href="#">24th Street North Avenue London, UK</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reservation-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{place.details|safe}}
      </div>

      {% if request.META.HTTP_REFERER != 'http://127.0.0.1:8000/history/' %}
      <div class="col-lg-12">
        <form id="reservation-form" name="gs" method="post" role="search" action="{% url 'reservation' place.place %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-12">
              <h4>Make Your <em>Reservation</em> Through This <em>Form</em></h4>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <label for="Name" class="form-label">Your Name</label>
                <input type="text" name="Name" class="Name" placeholder="" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <label for="Number" class="form-label">Your Phone Number</label>
                <input type="text" name="Number" class="Number" placeholder="" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <label for="noo" class="form-label">Number of Guests</label>
                <input type="number" name="noo" class="noo" placeholder="" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <label for="date" class="form-label">Check In Date</label>
                <input type="date" id="checkin-date" name="date" class="date" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" class="email" placeholder="" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button class="main-button">Make Your Reservation Now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  // Restrict check-in date to today or later
  document.addEventListener('DOMContentLoaded', function () {
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('checkin-date').setAttribute('min', today);
  });
</script>

<script>
  $(".option").click(function(){
    $(".option").removeClass("active");
    $(this).addClass("active"); 
  });
</script>

{% endblock %}
